<div class="theme-selector">
	<form class="theme-controls" name="themeControls">
		<fieldset>
			<legend>Choose Theme:</legend>
			<label for="theme-system">
				<div class="theme-option" title="System"><span class="sr-only">System Theme</span></div>
				<input type="radio" id="theme-system" name="colorTheme" value="system" />
			</label>
			<label for="theme-light">
				<div class="theme-option" title="Light"><span class="sr-only">Light Theme</span></div>
				<input type="radio" id="theme-light" name="colorTheme" value="light" />
			</label>
			<label for="theme-dark">
				<div class="theme-option" title="Dark"><span class="sr-only">Dark Theme</span></div>
				<input type="radio" id="theme-dark" name="colorTheme" value="dark" />
			</label>
			<label for="theme-sepia">
				<div class="theme-option" title="Sepia"><span class="sr-only">Sepia Theme</span></div>
				<input type="radio" id="theme-sepia" name="colorTheme" value="sepia" checked />
			</label>
			<label for="theme-red">
				<div class="theme-option" title="Red"><span class="sr-only">Red Theme</span></div>
				<input type="radio" id="theme-red" name="colorTheme" value="red" />
			</label>
			<label for="theme-orange">
				<div class="theme-option" title="Orange"><span class="sr-only">Orange Theme</span></div>
				<input type="radio" id="theme-orange" name="colorTheme" value="orange" />
			</label>
			<label for="theme-yellow">
				<div class="theme-option" title="Yellow"><span class="sr-only">Yellow Theme</span></div>
				<input type="radio" id="theme-yellow" name="colorTheme" value="yellow" />
			</label>
			<label for="theme-green">
				<div class="theme-option" title="Green"><span class="sr-only">Green Theme</span></div>
				<input type="radio" id="theme-green" name="colorTheme" value="green" />
			</label>
			<label for="theme-blue">
				<div class="theme-option" title="Blue"><span class="sr-only">Blue Theme</span></div>
				<input type="radio" id="theme-blue" name="colorTheme" value="blue" />
			</label>
			<label for="theme-purple">
				<div class="theme-option" title="Purple"><span class="sr-only">Purple Theme</span></div>
				<input type="radio" id="theme-purple" name="colorTheme" value="purple" />
			</label>
		</fieldset>
	</form>
</div>