html,
body {
    background-color: var(--background);
    color: var(--text);
    font-size: clamp(1rem, 0.96rem + 0.22vw, 1.125rem);
    font-family: var(--font);
    padding: 0;
    margin: 0;
}

main {
    width: var(--width);
    margin: 0 auto;
    max-width: 100%;
}

/* HEADINGS */
h1 {
    font-weight: 500;
    font-size: 3.4rem;
    color: var(--primary-color-1);
    margin: 2rem 0;
    padding: 0;
}

h1.capitalized {
    text-transform: uppercase;
}

h2 {
    font-weight: 400;
    font-size: 2.75rem;
    color: var(--primary-color-1);
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 2.3rem;
    color: var(--primary-color-1);
    font-weight: 500;
    margin: 0;
}

h4 {
    font-size: 2rem;
    color: var(--primary-color-3);
}

h5 {
    font-size: 1.666rem;
}

h6 {
    font-size: 1.166rem;
}

h1 span,
h2 span,
h3 span {
    white-space: nowrap;
}

/* TEXT */
p {
    line-height: 1.8;
    margin-bottom: 32px;
}

/* LINKS */
a,
a:visited {
    color: var(--primary-color-1);
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    color: var(--primary-color-2);
    text-decoration: underline;
}

a img {
    border: none;
}

/* HEADER */
header {
    width: var(--width);
    margin: 16px auto;
}

header span.title a {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: .1rem;
    text-decoration: none;
    color: var(--primary-color-2);
}

header span.title a:hover {
    color: var(--primary-color-1);
}

/* FOOTER */
footer {
    width: var(--width);
    margin: 16px auto;
    padding-top: 32px;
    border-top: 1px solid var(--primary-color-3);
}

footer nav {
    display: flex;
    margin-bottom: 24px;
    justify-content: center;
    column-gap: 32px;
    align-items: center;
}

footer nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

footer nav ul li {
    list-style-type: '';
    display: inline;
    padding: 0 8px;

}

footer nav ul li a:has(svg),
footer nav ul li a:has(svg):hover {
    text-decoration: none;
}

footer nav ul li a svg {
    fill: var(--primary-color-1);
}

footer nav ul li a:hover svg {
    fill: var(--primary-color-2);
}

footer .site-info {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 36px;
}

/* HOME */
section.homepage-image {
    width: 100%;
}

@media (max-width: 767px) {
    footer nav {
        flex-direction: column;
        row-gap: 24px;
    }

    footer .site-info {
        flex-direction: column;
        row-gap: 16px;
    }
}

@media (max-width: 450px) {
    header span.title a {
        font-size: 1.5rem;
    }

    footer nav {
        flex-direction: column;
        row-gap: 24px;
    }

    footer .site-info {
        flex-direction: column;
        row-gap: 16px;
    }
}

@media (max-width: 374px) {
    header span.title a {
        font-size: 1.4rem;
    }
}